{% extends "layout.html" %}

{% block pageTitle %}
  If you are registered as their appointee
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v4/interruption-card" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Are you registered as their appointee?
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Your name
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>

              </div>
            </fieldset>
            </div>

      <div class="govuk-inset-text">You can still apply on someone else's behalf if you're not an appointee.</div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
