{% extends "layout.html" %}

{% block pageTitle %}
  Enter appointee address - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/master/contact-details-appointee" method="post" novalidate="novalidate">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Appointee address
          </h1>
        </legend>

        <p>This should be the address that you are registered to as an appointee.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-address-line-1">
            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="appointee-address-line-1" name="appointee-address-line-1" type="text" value="{{ data['appointee-address-line-1'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="appointee-address-line-2" name="appointee-address-line-2" type="text" value="{{ data['appointee-address-line-2'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="appointee-address-town" name="appointee-address-town" type="text" value="{{ data['appointee-address-town'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="appointee-address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="appointee-address-postcode" name="appointee-address-postcode" type="text" value="{{ data['appointee-address-postcode'] }}">
        </div>

      </fieldset>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
