{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  If you can be called about your application - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#contact-type-error">Check your form. You must:</a>
            </li>
            <li>
              <a href="#contact-type-error">Enter a phone number, like 01632 960 001, 07700 900 982 or +44 0808 157 0192</a>
            </li>
          </ul>
        </div>
      </div>

        <form class="form" action="/master/check-your-answers" method="post" novalidate="novalidate">

          <div class="govuk-form-group govuk-form-group--error">

              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                      If we have questions about your application, can we call you?
                  </h1>
                </legend>

                <span id="contact-type-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter a phone number, like 01632 960 001, 07700 900 982 or +44 0808 157 0192
                </span>

                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phone-1" name="phone" type="radio" value="Yes, on" {{ checked("phone-given", "Yes, on {{ data['mobilenumberinput'] }}") }} data-aria-controls="conditional-phone-1">
                      <label class="govuk-label govuk-radios__label" for="phone-1">
                        Yes, call me on {{ data['mobilenumberinput'] }}
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phone-2" name="phone" type="radio" value="Yes, call me on a different number" {{ checked("phone", "Yes, on {{ data['phone-input'] }}") }} data-aria-controls="conditional-phone-2" checked>
                      <label class="govuk-label govuk-radios__label" for="phone-2">
                        Yes, call me on a different number
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-phone-2" style="clear:left;">
                      <div class="govuk-form-group">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="phone-info">
                              Your preferred phone number
                          </label>
                          <input class="govuk-input govuk-input--width-20 govuk-input--error" id="phone-input" name="phone-input" value="{{ data['phone-input'] }}" type="tel">
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="phone-3" name="phone" type="radio" value="No, write to me instead" {{ checked("phone", "No, write to me instead") }}>
                      <label class="govuk-label govuk-radios__label" for="phone-3">
                        No, write to me instead
                      </label>
                    </div>
                </div>
              </fieldset>

            </div>

          <button class="govuk-button">Continue</button>

    </div>
  </div>

{% endblock %}
