{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Error: How you want to be contacted about your application - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#contact-preference-error">Check your form. You must:</a>
            </li>
            <li>
              <a href="#contact-error">Select if you're able to receive text messages or email</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="form" action="/master/contact-details2" method="post" novalidate="novalidate">

        <div class="govuk-form-group govuk-form-group--error">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you able to receive text messages (SMS) or email?
              </h1>
            </legend>

            <p>If you can, you’ll be able to view and accept your offer online, which is quicker. If not, you’ll get your offer by post.</p>

            <span id="contact-preference-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select if you're able to receive text messages or email
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="digital" type="radio" value="Yes" {{ checked("digital", "Yes") }} >
                  <label class="govuk-label govuk-radios__label" for="digital-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="digital-no" name="digital" type="radio" value="No" {{ checked("digital", "No") }} >
                  <label class="govuk-label govuk-radios__label" for="digital-no">
                    No
                  </label>
                </div>
              </div>

            </fieldset>

          </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
