{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  How you want to be contacted about your application - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/master/contact-details2" method="post" novalidate="novalidate">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you able to receive text messages (SMS) or email?
              </h1>
            </legend>

            <p>If you can, you’ll be able to view and accept your offer online, which is quicker. If not, you’ll get your offer by post.</p>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="digital-yes" name="digital" type="radio" value="Yes" {{ checked("digital", "Yes") }} >
                  <label class="govuk-label govuk-radios__label" for="digital-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="digital-no" name="digital" type="radio" value="No" {{ checked("digital", "No") }} >
                  <label class="govuk-label govuk-radios__label" for="digital-no">
                    No
                  </label>
                </div>
              </div>

            </fieldset>

          </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
