{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Error: How you want to be contacted about your application - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#contact-type-error">Check your form. You must:</a>
            </li>
            <li>
              <a href="#contact-type-error">Select if we should contact you by text message or email</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="form" action="/master/call-option" method="post" novalidate="novalidate">

        <div class="govuk-form-group govuk-form-group--error">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When we’ve made a decision about your application, how can we tell you?
              </h1>
            </legend>

            <p>The message will tell you how to view your offer online.</p>

            <span id="contact-type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select if you're able to receive text messages or email
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="mobile-number" name="contactpreference" type="radio" value="text message" {{ checked("contactpreference", "text message") }} data-aria-controls="conditional-mobile-number">
                  <label class="govuk-label govuk-radios__label" for="mobile-number">
                    Text message
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-number">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="mobile-number-info">
                          Mobile number
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="mobile-number-input" name="mobilenumberinput" value="{{ data['mobilenumberinput'] }}" type="tel">
                    </div>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="email" name="contactpreference" type="radio" value="email" {{ checked("contactpreference", "email") }} data-aria-controls="conditional-email">
                  <label class="govuk-label govuk-radios__label" for="email">
                    Email
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email">
                  <div class="govuk-form-group">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="email-info">
                          Email address
                      </label>
                      <input class="govuk-input" id="email-input" name="email-input" value="{{ data['email-input'] }}" type="email" spellcheck="false">
                    </div>
                  </div>
                </div>
              </div>

            </fieldset>

          </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
