{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your contact details - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/master/check-your-answers" method="post">

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Would you like to provide your mobile number so we can keep you up to date on your application via text?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yes-mobile-number" name="mobile-number" type="radio" value="yes-mobile-number">
                    <label class="govuk-label govuk-radios__label" for="yes-mobile-number">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="no-mobile-number" name="mobile-number" type="radio" value="no-mobile-number">
                    <label class="govuk-label govuk-radios__label" for="yes-mobile-number">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
  
          <button class="govuk-button">Continue</button>
  

    </div>
  </div>

{% endblock %}
