{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Instalments - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/master/debt-repayments-landlord" method="post" novalidate="novalidate">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you paying instalments on furniture, a car or household goods?
              </h1>
            </legend>
            <p>
              These arrangements are sometimes known as ‘hire purchases’ or ‘rent to own’. Include anything you’re making repayments on.
            </p>
            <div class="govuk-radios--inline">
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hire-purchase-1" name="hire-purchase" type="radio" value="Yes" data-aria-controls="conditional-hire-purchase-1" {{ checked("hire-purchase", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="hire-purchase-1">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="hire-purchase-2" name="hire-purchase" type="radio" value="No" {{ checked("hire-purchase", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="hire-purchase-2">
                        No
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hire-purchase-1" style="clear:left;">
                      <div class="govuk-form-group">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="hire-purchase-info">
                              How much do you pay back each month?
                          </label>
                          <div class="input-wrapper">
                            <span class="govuk-c-input govuk-c-input__prefix" aria-hidden="true">£</span>
                            <input class="govuk-c-input govuk-!-width-one-quarter" id="ticket-price" name="hire-pay-back" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['hire-pay-back'] }}">
                          </div>
                          <label class="govuk-label" for="hire-purchase-info">
                              How much is left to pay?
                          </label>
                          <div class="input-wrapper">
                            <span class="govuk-c-input govuk-c-input__prefix" aria-hidden="true">£</span>
                            <input class="govuk-c-input govuk-!-width-one-quarter" id="ticket-price" name="hire-left-to-pay" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['hire-left-to-pay'] }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
