{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Loans - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/master/debt-repayments-rent-to-own" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have any outstanding loans?
              </h1>
            </legend>
            <p>
              Include any loans you have from a bank or financial institution.<br>
              Don’t include your mortgage or money you owe to the government.
            </p>
            <div class="govuk-radios--inline">
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="loans-1" name="loans" type="radio" value="Yes" data-aria-controls="conditional-loans-1" {{ checked("loans", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="loans-1">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="loans-2" name="loans" type="radio" value="No" {{ checked("loans", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="loans-2">
                        No
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-loans-1" style="clear:left;">
                      <div class="govuk-form-group">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="loans-info">
                              How much do you pay back each month?
                          </label>
                          <div class="input-wrapper">
                            <span class="govuk-c-input govuk-c-input__prefix" aria-hidden="true">£</span>
                            <input class="govuk-c-input govuk-!-width-one-quarter" id="ticket-price" name="loans-pay-back" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['loans-pay-back'] }}">
                          </div>
                          <label class="govuk-label" for="loans-info">
                              How much is left to pay?
                          </label>
                          <div class="input-wrapper">
                            <span class="govuk-c-input govuk-c-input__prefix" aria-hidden="true">£</span>
                            <input class="govuk-c-input govuk-!-width-one-quarter" id="ticket-price" name="loans-left-to-pay" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['loans-left-to-pay'] }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
