{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Testing only"
  },
  html: 'Messages will not be sent and no data is saved.'
}) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits/jobseekers-allowance">Jobseeker's Allowance and low income benefits</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Budgeting Loans
      </h1>

      <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
    <h2 class="gem-c-contents-list__title govuk-heading-s">
      Contents
</h2>
    <ol class="govuk-list govuk-!-font-size-16">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="/budgeting-help-benefits" data-track-options="{&quot;dimension29&quot;:&quot;How they work&quot;}" href="/budgeting-help-benefits">How they work</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/budgeting-help-benefits/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Check if you're eligible&quot;}" href="/budgeting-help-benefits/eligibility">Check if you're eligible</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/budgeting-help-benefits/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you could get&quot;}" href="/budgeting-help-benefits/what-youll-get">What you could get</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">—
          Paying back the loan

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/budgeting-help-benefits/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you could get&quot;}" href="start">Apply</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/budgeting-help-benefits/other-help-you-can-get" data-track-options="{&quot;dimension29&quot;:&quot;Other help you can get&quot;}" href="/budgeting-help-benefits/other-help-you-can-get">Other help you can get</a>

        </li>
    </ol>
</nav>
      </aside>

</div>

<div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Paying back the loan</h2>

      <p>A Budgeting Loan is interest free so you only pay back what you borrow.</p>

      <p>The repayments will be taken automatically from your benefits. The amount you repay is based on your income - including any benefits you receive - and what you can afford.</p>

      <p>After you apply for a Budgeting Loan, you’ll get a decision telling you if you’ve been offered a loan. This will explain how much your weekly repayments would be if you accept the loan.</p>

      <p>You normally have to repay the loan within 2 years (104 weeks). If you stop getting benefits, you’ll need to arrange another way to repay.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Changes to repayments because of coronavirus (COVID-19)</h2>

      <p>Repayments that were temporarily stopped because of coronavirus are starting again.</p>

      <p>If money is usually taken from your benefits or pay, or you previously repaid by Direct Debit, you do not need to do anything. The Department for Work and Pensions (DWP) will write to you when repayments restart.</p>

      <p>If you usually make repayments through a bank standing order, bank giro credit or by online banking, contact your bank to restart your repayments at the same rate as before.</p>



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/pay-off-debts">
                Options for dealing with your debt
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/report-loan-shark">
                Report a loan shark
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/universal-credit">
                Universal Credit
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/get-help-with-benefits-and-pensions-if-you-have-accessibility-needs">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
