{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Testing only"
  },
  html: 'Messages will not be sent and no data is saved.'
}) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits/jobseekers-allowance">Jobseeker's Allowance and low income benefits</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Budgeting Loans
      </h1>

      <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
    <h2 class="gem-c-contents-list__title govuk-heading-s">
      Contents
</h2>
    <ol class="govuk-list govuk-!-font-size-16">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="/budgeting-help-benefits" data-track-options="{&quot;dimension29&quot;:&quot;How they work&quot;}" href="/budgeting-help-benefits">How they work</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/budgeting-help-benefits/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Check if you're eligible&quot;}" href="/budgeting-help-benefits/eligibility">Check if you're eligible</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/budgeting-help-benefits/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you could get&quot;}" href="/budgeting-help-benefits/what-youll-get">What you could get</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/budgeting-help-benefits/repayments" data-track-options="{&quot;dimension29&quot;:&quot;Paying back the loan&quot;}" href="payingback">Paying back the loan</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">—
          Apply

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">—
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/budgeting-help-benefits/other-help-you-can-get" data-track-options="{&quot;dimension29&quot;:&quot;Other help you can get&quot;}" href="/budgeting-help-benefits/other-help-you-can-get">Other help you can get</a>

        </li>
    </ol>
</nav>
      </aside>

</div>

<div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Apply</h2>

      <p> If you get Universal Credit you cannot get a Budgeting Loan. Apply for a <a href="https://www.gov.uk/universal-credit/other-financial-support">Budgeting Advance</a> instead.<p>

      <p>If you do not get Universal Credit <a href="https://www.gov.uk/budgeting-help-benefits/eligibility">check if you're eligible</a> for a Budgeting Loan.</p>

      <p>If you are eligible, you can apply online or using the paper form. It’s quicker to apply online.</p>

      <div class="govuk-inset-text">
        <p>There’s a different way to apply in <a href="https://www.nidirect.gov.uk/articles/budgeting-loans">Northern Ireland</a>.</p>
      </div>

      <a href="/master/if-loan-for-you" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Apply online for a Budgeting Loan</a>

      <h2 class="govuk-heading-m">If you apply online</h2>

      <p>If you can receive text messages or email, you could have a decision within <strong>7 days</strong>. Once your application is processed, we will tell you how to view your decision online.</p>

      <p>If you accept a loan offer, you'll receive the money within 7 days. It will be <a href="https://www.gov.uk/how-to-have-your-benefits-paid">paid into your bank, building society or credit union account</a>.</p>

      <h2 class="govuk-heading-m">If you apply using the paper form</h2>

      <p>If you apply by post you will receive a decision within <strong>31 days</strong>.</p>

      <p>You will need to fill in form SF500. You can either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/publications/budgeting-loan-claim-form">download and print the form</a></li>
        <li>pick it up from <a rel="external" href="https://find-your-nearest-jobcentre.dwp.gov.uk/">your nearest Jobcentre Plus</a>
      </li>
        <li>ask the Social Fund to post it to you - allow 7 days for the form to arrive</li>
      </ul>

      <div class="govuk-details__text">
      <p><strong>Social Fund</strong><br>
      Telephone: 0800 169 0140  <br>
      Welsh language: 0800 169 0240  <br>
      <a href="https://www.ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 169 0140   <br>
      Monday to Friday, 8am to 6pm<br>
      <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </div>
      <br />

      <p>If you want to accept the loan you must sign page 4 of the acceptance letter and return it in the pre-paid envelope provided.</p>

      <p>Return it to the address on the letter. Do not send it to your local jobcentre as this may delay  your loan.</p>

      <p>Make sure the return address is fully visible in the envelope window.</p>

      <p>You will then receive the money within 25 days. It will be <a href="https://www.gov.uk/how-to-have-your-benefits-paid">paid into your bank, building society or credit union account</a>.</p>

      <h2 class="govuk-heading-m">Questions about your application</h2>

      <p>Call the Social Fund if you have a question about the progress of your application.</p>

      <p>Wait 14 days before phoning if you applied online.</p>
      <p>Wait 21 days before phoning if you applied by post.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/pay-off-debts">
                Options for dealing with your debt
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/report-loan-shark">
                Report a loan shark
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/universal-credit">
                Universal Credit
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/get-help-with-benefits-and-pensions-if-you-have-accessibility-needs">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
