.input-wrapper {
    display: flex;
    margin: 5px 0 20px;
}

.govuk-c-input {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 40.0625em) {
    .govuk-c-input {
        font-size: 19px;
        line-height: 25px;
    }
}

.govuk-c-input__prefix, .govuk-c-input__suffix {
    background-color: #f3f2f1;
    white-space: nowrap;
    cursor: default;
    flex: 0;
    padding: 6px;
}

.govuk-c-input__prefix {
    border-right: 0;
}

.govuk-inset-text--blue {
    border-color: #2b8cc4!important;
    background-color: #eaf4f9!important;
}

.govuk-phase-banner__text {
    vertical-align: middle!important;
}

.govuk-radios__conditional--withinset {
    border-left: none!important;
    padding-left: 0!important;
}

.govuk-c-input:focus, .govuk-input:focus {
    outline: 3px solid #fd0!important;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.govuk-radios__input:focus + .govuk-radios__label::before {
    box-shadow: 0 0 0 4px #fd0!important;
}
.govuk-button:focus {
    outline: 3px solid #fd0!important;
} 

#conditional-letter {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}