{% extends "layout.html" %}

{% block pageTitle %}
  Address to write to
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/declaration" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Confirm address
                </h1>
              </legend>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="address-confirmation" name="address-confirmation" type="checkbox" value="address-confirmation">
                  <label class="govuk-label govuk-checkboxes__label" for="address-confirmation">
                    DWP, Quarry House, Quarry Hill LS2 7UA
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <button class="govuk-button">Continue</button>

    </div>
  </div>

{% endblock %}
