{% extends "layout.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/address-to-write-to" method="post">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Find you address
          </h1>
        </legend>

        <p>If you have no fixed address, enter an address where you can be contacted.</p>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-number">
            Property number or name
          </label>
          
          <input class="govuk-input govuk-input--width-10" id="address-number" name="address-number" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
      
      </fieldset>

      <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I don't know my postcode
            </span>
          </summary>
          <div class="govuk-details__text">
              <p>You can:</p>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="http://www.royalmail.com/find-a-postcode" target="_blank">find the postcode at Royal Mail</a>
                </li>
                <li>
                  <a class="govuk-link" href="/v6/address" target="_blank">Enter your address manually</a>
                </li>
              </ul>
              <p>The address may not be listed if you are part of a new development, if that is the case please enter your address manually.</p>
          </div>
        </details>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
