{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application received</h1>
        <div class="govuk-panel__body">
          Your reference is your National Insurance number</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email.<p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You'll get a decision by email in the next 2 days.</p>

      <h3 class="govuk-heading-s">If you're eligible</h2>

      <p>You'll be told:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how much you can borrow</li>
        <li>how much your weekly repayments will be</li>
        <li>how long it will take to repay</li>
      </ul>

      <p>You do not have to accept the loan offer if you do not want to.</p>

      <h3 class="govuk-heading-s">If you're not eligible</h2>

      <p>You'll be told why and how to get help if you need it.</p>

      <h3 class="govuk-heading-s">If you do not receive a decision</h2>

      <p>Contact the <a href="https://www.gov.uk/budgeting-help-benefits/how-to-apply">Social Fund</a> if you do not receive a confirmation or decision email.</p>

      <p>Allow 2 days before you do this, as your application may not have been processed before then.</p>

      <p><a href="/v14/personal-details">Back to the prototype start page</a></p>

    </div>
  </div>

{% endblock %}
