{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your contact details - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/v18a/call-option-with-mobile" method="post">

          <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                      Can you get text messages about your application?
                  </h1>
                </legend>
                <span id="undefined-hint" class="govuk-hint">We will send updates and tell you when a decision has been made.</span>
                <div class="govuk-radios--inline">
                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mobile-phone-1" name="mobile-phone" type="radio" value="yes" data-aria-controls="conditional-mobile-phone-1">
                        <label class="govuk-label govuk-radios__label" for="mobile-phone-1">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mobile-phone-2" name="mobile-phone" type="radio" value="no" data-aria-controls="conditional-mobile-phone-2">
                        <label class="govuk-label govuk-radios__label" for="mobile-phone-2">
                          No
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-phone-1" style="clear:left;">
                        <div class="govuk-form-group">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="mobile-phone-info">
                                Mobile phone number
                            </label>
                            <input class="govuk-input govuk-input--width-20" id="mobile-phone-input" name="mobile-phone-input" type="text">
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </fieldset>

            </div>
  
          <button class="govuk-button">Continue</button>
  
    </div>
  </div>

{% endblock %}
