{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Savings - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v10/outgoings" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have any savings?
              </h1>
              <p class="govuk-!-margin-top-6">Include any money you have at home and in a bank, building society or credit union account. Also include investments like premium bonds and shares.</p>
            </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="savings-1" name="savings" type="radio" value="yes" data-aria-controls="conditional-savings-1">
                    <label class="govuk-label govuk-radios__label" for="savings-1">
                      Under £1000
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="savings-2" name="savings" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="savings-2">
                      Over £1000
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-savings-1" style="clear:left;">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="savings-info">
                          Total amount of savings
                      </label>
                      <div class="input-wrapper">
                        <span class="govuk-c-input govuk-c-input__prefix" aria-hidden="true">£</span>
                        <input class="govuk-c-input govuk-!-width-one-quarter" id="ticket-price" name="ticket-price" type="text">
                      </div>
                    </div>
                  </div>
                </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}