{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Child Benefit - Budgeting Loans - GOV.UK

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/loan-amount" method="post">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                  Do you or your partner get Child Benefit?
              </h1>
            </legend>
            <div class="govuk-radios--inline">
              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-benefit-1" name="child-benefit" type="radio" value="yes" data-aria-controls="conditional-child-benefit-1">
                    <label class="govuk-label govuk-radios__label" for="child-benefit-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-benefit-2" name="child-benefit" type="radio" value="no" data-aria-controls="conditional-child-benefit-2">
                    <label class="govuk-label govuk-radios__label" for="child-benefit-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-child-benefit-1" style="clear:left;">
                    <div class="govuk-form-group">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="child-benefit-info">
                            How many of these children live with you?
                        </label>
                        <input class="govuk-input govuk-input--width-2" id="child-benefit-input" name="child-benefit-input" type="text">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </fieldset>
        </div>

        <a class="govuk-button" href="/as-is/loan-amount">Continue</a>

      </form>

    </div>
  </div>

{% endblock %}
