{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Loans - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/debt-repayments-rent-to-own" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have any outstanding loans?
              </h1>
            </legend>
            <span id="benefit-received-hint" class="govuk-hint">
              Include any loans you have from a bank or financial institution.<br>
              Don’t include your mortgage or money you owe to the government.
            </span>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="loans-1" name="loans" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="loans-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="loans-2" name="loans" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="loans-2">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        <p>Leah - If the user selects 'Yes' this should reveal 2 <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/68">currency input</a> fields underneath: 'How much do you pay back each month?' and 'How much is left to pay?'</p>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
