{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Employment and Support Allowance - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/eligibility-100" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="benefit-received-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of Jobseeker's Allowance do you get?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefit-received" name="benefit-received" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="benefit-received">
                  Income-related
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefit-received-2" name="benefit-received" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="benefit-received-2">
                  Contribution-based
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefit-received-2" name="benefit-received" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="benefit-received-2">
                  Don't know
                </label>
              </div>

              <h2>Shown if user picks 'Don't know'</h2>

              <p>Contact <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> to find out what type of Employment and Support Allowance you get.</p>

              <p>If you’ve had a Budgeting Loan before and your benefits haven’t changed, you’ll probably be getting income-related Employment and Support Allowance.</p>

              <p>If you get contribution-based Employment and Support Allowance, you won’t be able to get a Budgeting Loan.</p>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
