{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Loan amount - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/savings" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="child-benefit-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                You can apply for between £100 and £[amount] - how much do you need?
              </h1>
            </legend>

            <p>Leah - Can you add a currency input here? Here's the <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/68">card in the Design System backlog</a>.</p>

          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
