{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  About your partner - Budgeting Loans - GOV.UK
{% endblock %}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/children" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              About your partner
            </h1>
          </legend>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="partner-first-name">
          Their first name
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="partner-first-name" name="partner-first-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="partner-last-name">
          Their last name
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="partner-last-name" name="partner-last-name" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <label class="govuk-label govuk-label--s" for="date-of-birth">
              Their date of birth
            </label>
          </legend>
          <div class="govuk-date-input" id="date-of-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partner-date-of-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-date-of-birth-day" name="partner-date-of-birth-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partner-date-of-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-date-of-birth-month" name="partner-date-of-birth-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partner-date-of-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="partner-date-of-birth-year" name="partner-date-of-birth-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>



        <a class="govuk-button" href="/as-is/children">Continue</a>

      </form>

    </div>
  </div>

{% endblock %}
