{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Universal Credit - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/eligibility-benefits" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you have a partner?
            </h1>
          </legend>
          <p>A partner is someone over the age of 16 who you’re married to or live with as if you’re married to them.</p>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="partner-1" name="partner" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="partner-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="partner-2" name="partner" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="partner-2">
                No
              </label>
            </div>
        </fieldset>
      </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
