{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Contact preference - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/v18c/check-your-answers" method="post">

          <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you to be emailed the decision about your loan?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="email" name="contact-method" type="radio" value="email" data-aria-controls="conditional-email">
                      <label class="govuk-label govuk-radios__label" for="email">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email" style="clear:left;">
                      <div class="govuk-form-group">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="email-info">
                              Email address
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="email-input" name="email-input" type="text">
                          <label class="govuk-label govuk-!-margin-top-4" for="email-info-check">
                              Confirm email address
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="email-input-check" name="email-input-check" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="mobile-phone" name="contact-method" type="radio" value="mobile-phone" data-aria-controls="conditional-mobile-phone">
                      <label class="govuk-label govuk-radios__label" for="mobile-phone">
                        No, by text message
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-phone" style="clear:left;">
                      <div class="govuk-form-group">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="mobile-phone-info">
                              Mobile phone number
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="mobile-phone-input" name="mobile-phone-input" type="text">
                          <label class="govuk-label govuk-!-margin-top-4" for="mobile-phone-info-check">
                              Confirm mobile phone number
                          </label>
                          <input class="govuk-input govuk-input--width-20" id="mobile-phone-input-check" name="mobile-phone-input-check" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="letter" name="contact-method" type="radio" value="letter" data-aria-controls="conditional-letter">
                      <label class="govuk-label govuk-radios__label" for="letter">
                        No, by letter (slowest method)
                      </label>
                    </div>
                </div>
              </fieldset>

            </div>
  
          <button class="govuk-button">Continue</button>
  
    </div>
  </div>

{% endblock %}
