{% extends "layout-agent.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Application details – Check a digital Budgeting Loan application
{% endblock %}

{% block beforeContent %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="key-details-bar__name">Sam Smith</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>4 June 1972</dd>

      <dt>Postcode:</dt>
      <dd>HU4 4XJ</dd>

      <dt>Phone:</dt>
      <dd>07546 322 221</dd>
    </div>
  </dl>
</section>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Application reference: <span style="text-transform: uppercase">{{ data['find-application'] }}</span></h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Status</strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <strong class="govuk-tag">Applicant to respond to offer</strong><span class="govuk-!-padding-left-2 govuk-!-font-size-16">10 days ago</span>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Application date
            </strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-!-font-size-20">09 May 2020 - 09:12am</p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Notification type
            </strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <a class="govuk-link--no-visited-state" href="/AI/master/example-notifications" target="_blank" style="float: right;">View example notification</a>
          <p class="govuk-!-font-size-20">Text message</p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Mobile number</strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-!-font-size-20">07546 322 221</p>
        </div>
      </div>

      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Decision notification</strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p><a class="govuk-link--no-visited-state" href="https://status.notifications.service.gov.uk/" target="_blank">Check Notify status</a></p>
        </div>

        <div class="govuk-grid-column-full">
          <div class="govuk-inset-text govuk-!-font-size-16 govuk-!-margin-top-0">
            We send decision notifications via Notify. If a claimant has not received their notification you can check to see if the Notify service is available. We are unable to check if there are problems with the claimants email or phone provider.
          </div>
        </div>
      </div> -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Code expires</strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-!-font-size-20">23 May 2020 - <strong>4 days left</strong></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-font-size-20">Offer and repayment</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Offer type</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Requested</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Offered</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Repayment amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Full</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£348</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£348</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£15 every week</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell--numeric" colspan="4">
                  <a class="govuk-link--no-visited-state" href="example-offer-page" target="_blank">View example offer page</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</div>

{% endblock %}
