{% extends "layout-agent.html" %}

{% block pageTitle %}
  We cannot offer you a Budgeting Loan – Budgeting Loans – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/BLAS/v8/loan-accepted" method="post" novalidate="">
        <div class="govuk-form-group">

          <h1 class="govuk-heading-l">Example page where a loan cannot be offered</h1>

          <p>You applied for a Budgeting Loan of <strong>&pound;XX</strong> on (date).</p>

          <p>Based on the information we have, we cannot offer you a Budgeting Loan at this time.</p>

          <p>This is because:
          <ul class="govuk-list govuk-list--bullet">
            <li>(reason will be shown)</li>
          </ul>

          <p>You can apply again in future if you become <a href="#0">eligible</a>.</p>

          <p><a href="#0">Contact the Social Fund</a> if you want to ask a question or think our decision is wrong.</p>

          <p>Find out about <a href="https://www.gov.uk/budgeting-help-benefits/other-help-you-can-get">other help you could get</a>.</p>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
