{% extends "layout-agent.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Decision manually processed – Check a digital Budgeting Loan application
{% endblock %}

{% block beforeContent %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="key-details-bar__name">Sam Smith</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <span class="key-details-bar__wrapper">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </span>

    </div>
  </dl>
</section>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}


<form action="manually-process-confirmation-declined" method="post" novalidate="novalidate">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Decision manually processed</h1>

      <h3 class="govuk-heading-m">Application reference: <span style="text-transform: uppercase">{{ data['find-application'] }}</span></h1>

      <div class="govuk-inset-text">
        Only do this if the application can't be processed on the digital journey and the applicant has already declined their offer.
      </div>

      <p class="">The applicant will have already received a notification when they declined the offer. No other notification will be sent.</p>

      <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="manually-processed-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            When was the application manually processed?
          </h1>
        </legend>
        <div id="manually-processed-hint" class="govuk-hint">
          For example, 12 11 2007
        </div>
        <div class="govuk-date-input" id="manually-processed">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="manually-processed-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="manually-processed-day" name="manually-processed-day" type="text" pattern="[0-9]*" inputmode="numeric" value="16"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="manually-processed-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="manually-processed-month" name="manually-processed-month" type="text" pattern="[0-9]*" inputmode="numeric" value="04"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="manually-processed-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="manually-processed-year" name="manually-processed-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2021"></div>
          </div>
        </div>

      </fieldset>
    </div>-->


      <button class="govuk-button" data-module="govuk-button">
        Confirm
      </button>

  </div>
</div>
</form>

{% endblock %}
