{% extends "layout-agent.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Resend decision notification – Check a digital Budgeting Loan application
{% endblock %}

{% block beforeContent %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="key-details-bar__name">Sam Smith</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <span class="key-details-bar__wrapper">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </span>

    </div>
  </dl>
</section>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Resend decision notification</h1>

      <!-- <h3 class="govuk-heading-m">Application reference: <span style="text-transform: uppercase">{{ data['find-application'] }}</span></h3> -->

      <!-- <div class="govuk-inset-text">
        Only change this application if it can't be processed digitally.
      </div> -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Notification type
            </strong></p>
        </div>

        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-20">Text message</p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-!-font-size-20"><strong>Mobile number</strong></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-!-font-size-20">07546322221</p>
        </div>
      </div>

      <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">Are these details correct?</p>


          <div class="govuk-button-group">
            <form action="resend-confirmation" method="post" novalidate="novalidate">
              <div class="govuk-form-group hidden">
                <!-- form hidden to pass values through to the next screen -->
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Notification type
                  </legend>
                  <div class="govuk-radios gov-ukradios--inline govuk-radios--conditional">
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mobile-number" name="contactpreference" type="radio" value="text message"  data-aria-controls="conditional-mobile-number" checked>
                        <label class="govuk-label govuk-radios__label" for="mobile-number">
                          Text message
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-number">
                        <div class="govuk-form-group">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="mobile-number-info">
                                Mobile number
                            </label>
                            <input class="govuk-input govuk-input--width-20" id="mobile-number-input" name="contactmobile" value="07546322221" type="tel">
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>

                  </fieldset>

                </div>
              <button class="govuk-button" data-module="govuk-button">
                Yes, send notification
              </button>
            </form>

            <form action="resend-v1c" method="post" novalidate="novalidate">
              <div class="govuk-form-group hidden">
                <!-- form hidden to pass values through to the next screen -->
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Notification type
                  </legend>
                  <div class="govuk-radios gov-ukradios--inline govuk-radios--conditional">
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mobile-number" name="contactpreference" type="radio" value="text message"  data-aria-controls="conditional-mobile-number" checked>
                        <label class="govuk-label govuk-radios__label" for="mobile-number">
                          Text message
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-number">
                        <div class="govuk-form-group">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="mobile-number-info">
                                Mobile number
                            </label>
                            <input class="govuk-input govuk-input--width-20" id="mobile-number-input" name="contactmobile" value="07546322221" type="tel">
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>

                  </fieldset>

                </div>
            <button class="button-link govuk-!-margin-left-4" data-module="govuk-button" style="transform: translateY(10px);">
              No, update contact preferences
            </button>
            </form>
          </div>


  </div>
</div>

{% endblock %}
