{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your contact details - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/v18/contact-details" method="post">

          <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      How would you like to recieve the decision about your loan?
                    </h1>
                  </legend>
                  <span id="undefined-hint" class="govuk-hint">It can often speed up your application if you choose to be contacted via SMS or email.</span>
                  <div class="govuk-radios">
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="mobile-number" name="mobile-number" type="radio" value="mobile-number" data-aria-controls="conditional-mobile-number">
                          <label class="govuk-label govuk-radios__label" for="mobile-number">
                            Mobile phone - SMS
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-number">
                          <div class="govuk-form-group">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="mobile-number-info">
                                  Please enter the mobile number that you would like us to contact you on with updates about your application progress
                              </label>
                              <input class="govuk-input govuk-input--width-10" id="mobile-number-input" name="mobile-number-input" type="text">
                              <label class="govuk-label govuk-!-margin-top-2" for="mobile-number-info">
                                  Please re-enter the mobile number so we can check for any mistakes
                              </label>
                              <input class="govuk-input govuk-input--width-10" id="mobile-number-input" name="mobile-number-input" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="email" name="email" type="radio" value="email" data-aria-controls="conditional-email">
                          <label class="govuk-label govuk-radios__label" for="email">
                            Email
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email">
                          <div class="govuk-form-group">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="email-info">
                                  Please enter the email address that you would like us to contact you on with updates about your application progress
                              </label>
                              <input class="govuk-input" id="email-input" name="email-input" type="text">
                              <label class="govuk-label govuk-!-margin-top-2" for="email-info">
                                  Please re-enter the email address so we can check for any mistakes
                              </label>
                              <input class="govuk-input" id="email-input" name="email-input" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="letter" name="letter" type="radio" value="letter" data-aria-controls="conditional-letter">
                          <label class="govuk-label govuk-radios__label" for="letter">
                            Letter
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-letter" >
                          <div class="govuk-form-group">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="letter-info">
                                  Please note that the letter offer and acceptance process is slower than the digital version, it may speed up the process if you have a mobile phone number or email address that we can contact you on.
                              </label>
                            </div>
                          </div>
                        </div>

                    </div>
                  </div>
                </fieldset>

            </div>
  
          <button class="govuk-button">Continue</button>
  

    </div>
  </div>

{% endblock %}
