{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan accepted
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Budgeting Loan accepted</h1>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You’ll receive the loan within 7 days. You’ll get a text message confirming when the money has been sent (or a phone call if you cannot receive text messages).</p>

      <p><a href="/index">Finish</a></p>

 {#      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p> #}

    </div>
  </div>

{% endblock %}
