{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Income Support - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/master-v2/eligibility-is-partner" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="duration-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How long have you been getting Income Support?
              </h1>
            </legend>
            <p>
              This could include any breaks, up to a total of 28 days.
            </p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-duration-yes" name="is-duration" type="radio" value="more-than-6months">
                <label class="govuk-label govuk-radios__label" for="is-duration-yes">
                  6 months or more
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-duration-no" name="is-duration" type="radio" value="less-than-6months">
                <label class="govuk-label govuk-radios__label" for="is-duration-no">
                  Less than 6 months
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
