{% extends "layout.html" %}

{% block pageTitle %}
  Declaration - Send application - Budgeting Loan - GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/BLAS/v3/confirmation" method="post" novalidate>

      <h1 class="govuk-heading-l">Declaration</h1>

      <p>I understand that my income support will be reduced by £39.10 every week in order to pay back the money.</p>
      <input type="hidden" name="answers-checked" value="true">

      <p>By accepting this offer of £348.00 I agree to the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>terms and conditions etc here</li>
      </ul>

      <button type="submit" class="govuk-button">
        I agree - accept my offer
      </button>

      </form>

    </div>
  </div>
{% endblock %}
