{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your contact details - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/BLAS/v3/offer-accept" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="offer-acceptance">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Your right to a review
            </h1>
          </legend>

          <p>If you disagree with the decision you have a right to ask for a review. you can either do that now or you can contact us within <strong>28 days</strong> of recieving this offer. <strong>This loan offer was issued on the 24th November 2019</strong></p>
          <p><a href="#">Review my offer</a></p>

          <h1 class="govuk-heading-l">Help and advice</h1>
          <p>If there is anything you want to ask us about your application then please <a href="#">get in touch</a></p>
          <p>If you need help managing money or are worried about debt there are multiple organisations that can give you free advice<br /><a href="#">Organisation information</a></p>
          <p>There are also other types of helpa available from the social fund<br /><a href="#">More Information</a></p>

        </fieldset>
      
        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
