{% extends "layout.html" %}

{% block pageTitle %}
  Find your address - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v19/select-address" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Find your address
            </h1>
          </legend>

          <p>You may get a quicker decision if this matches where you get letters about your benefit claim.</p>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-number">
              Property number or name
            </label>
            
            <input class="govuk-input govuk-input--width-10" id="address-number" name="address-number" type="text">
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-5" id="address-postcode" name="address-postcode" type="text">
          </div>
        
        </fieldset>

        <button class="govuk-button">Find address</button>

      </form>

      <p><a href="/v19/enter-address">Enter your address manually</a></p>

    </div>
  </div>

{% endblock %}
