{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Choose notification type
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose notification type</h1>

      <h2 class="govuk-heading-l">Email</h1>

      <p>Email drafts:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/BLAS/v7/email-offer">indicating approval</a></li>
          <li><a href="/BLAS/v7/email-declined">indicating rejection</a></li>
          <li><a href="/BLAS/v7/email-neutral">neutrally worded</a></li>
        </ul>

      <h2 class="govuk-heading-l">Text message (SMS)</h2>

      <h3 class="govuk-heading-m">More than 160 but fewer than 320 characters including spaces</h3>

      <p>Text message drafts:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/BLAS/v7/SMS-less-than-320-offer">indicating approval - less than 320 characters</a></li>
          <li><a href="/BLAS/v7/SMS-less-than-320-declined">indicating rejection - less than 320 characters</a></li>
          <li><a href="/BLAS/v7/SMS-less-than-320-neutral">neutrally worded - less than 320 characters</a></li>
        </ul>

      <p>Underlying assumption: the vast majority of users will be able to receive a longer text message without it being split, and the greater length available will give them a clearer message that's easier to understand and act on.</p>

      <h3 class="govuk-heading-m">DISREGARD - Fewer than 160 characters including spaces</h3>

      <p>Not taken forward. Because there are a few things to communicate in such a limited space, it very unlikely that we'll be able to use just one text message.</p>

      <p>Text message drafts:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/BLAS/v7/SMS-less-than-160-offer">indicating approval - fewer than 160 characters</a></li>
          <li><a href="/BLAS/v7/SMS-less-than-160-declined">indicating rejection - fewer than 160 characters</a></li>
          <li><a href="/BLAS/v7/SMS-less-than-160-neutral">neutrally worded - fewer than 160 characters</a></li>
        </ul>

      <p>Underlying assumption: it will be better for users to receive the information in just one text message, to avoid any prospect of the message being split.</p>


    </div>
  </div>

{% endblock %}
