{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  (Email) Your Budgeting Loan application
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }} #}

{% endblock %}

{% block content %}

      <div>
        <h1 class="govuk-heading-s">Your Budgeting Loan application, reference [number]</h1>
        <p class="govuk-body-s"><strong>To:</strong> yourname@gmail.com<br>
        <strong>From:</strong> budgetingloans@dwp.gov.uk</p>
      </div>

      <hr>

  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>Dear [full name],</p>

      <p>We have made a decision on your Budgeting Loan application.</p>

      <p>You need to check the decision by [date].</p>

      <p>Go to <a href="/BLAS/v7/application-reference-code">https://www.apply-budgeting-loan.service.gov.uk/decision</a>
      </p>

      <p>You’ll need to fill in your:

      <ul class="govuk-list govuk-list--bullet">
        <li>application reference, which is <strong>[number]</strong></li>
        <li>response code, which is <strong>[number]</strong></li>
      </ul>

      <p>If you cannot use the online service, contact us using the details below.</p>

      <p>Regards,</p>

      <p>Budgeting Loans, Department for Work and Pensions</p>

      <hr>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0140</li>
        <li>Welsh language: 0800 169 0240</li>
        <li>NGT text relay (if you cannot hear or speak on the phone): 18001 then 0800 169 0140</li>
        <li>Monday to Friday, 8am to 6pm</li>
      </ul>


    </div>
  </div>

{% endblock %}
