{% extends "layout-response.html" %}

{% block pageTitle %}
  You have accepted this Budgeting Loan – Budgeting Loans – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have accepted this Budgeting Loan</h1>
      </div>

      <p>We have sent you a confirmation message.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You’ll get £812 within 5 days.</p>

      <p>You’ll pay back £78.20 every 2 weeks. We will take this automatically from your Jobseeker’s Allowance.</p>

      <p>We will write to you when your repayments are due to start. Your repayments may not start straight away if you have other debt.</p>

      <p>You must <a href="https://www.gov.uk/report-benefits-change-circumstances">tell us if your circumstances change</a>. This can include changes to your income and people moving into or out of the place you live.</p>

{#       <p><a href="javascript:window.print()">Print this page</a></p> #}

{#       <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p> #}

    </div>
  </div>

{% endblock %}
