{% extends "layout-response.html" %}

{% block pageTitle %}
  You have declined this Budgeting Loan – Budgeting Loans – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have declined this Budgeting Loan</h1>
      </div>

      <p>We have sent you a confirmation [email/text/letter].</p>

      <p>Find out about <a href="https://www.gov.uk/budgeting-help-benefits/other-help-you-can-get">other help you could get</a>.</p> 

      <p><a href="/BLAS/v7/review-rights">Contact the Social Fund</a> if you want to ask a question or think the decision you were given is wrong.</p>

{#       <p><a href="javascript:window.print()">Print this page</a></p> #}

 {#      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p> #}

    </div>
  </div>

{% endblock %}
