{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan declined
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have declined this Budgeting Loan</h1>
      </div>

      <p>We have sent you a confirmation [email/text/letter].</p>

      <h2 class="govuk-heading-l">If you think the decision is wrong</h2>

      <p>You can ask for the decision to be reviewed. Send a letter to the Social Fund before [date 28 days from today] explaining why you think the decision is wrong. If you send your letter after this date, you’ll need to tell us why it’s late.</p>

      <p>You or your appointee, if you have one, must sign the letter. Include your name, address and reference [XXXXXX].</p>

      <ul class="govuk-list">
        <li><strong>Five Ways House Social Fund</strong></li>
        <li>Islington Row Middleway</li>
        <li>Birmingham</li>
        <li>B15 1SL</li>
{#          <li>Post Handling Site B</li>
            <li>Wolverhampton</li>
            <li>WV99 2FX</li> #}
      </ul>

      <p>Find out about <a href="https://www.gov.uk/budgeting-help-benefits/other-help-you-can-get">other help you could get</a>.</p> 

{#       <p><a href="javascript:window.print()">Print this page</a></p> #}

 {#      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p> #}

    </div>
  </div>

{% endblock %}
