{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan declined
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have declined this Budgeting Loan</h1>
      </div>

      <p>We have sent you a confirmation [email/text/letter].</p>

      <h2 class="govuk-heading-m">If you’re not happy with the decision</h2>

      <p>You can ask us to review the decision. Write a letter to us by [28 days from today] explaining why you think the decision was wrong. Include your reference, which is [number]. We cannot review decisions about how much you're asked to pay back a week.</p>

      <ul class="govuk-list">
        <li><strong>Five Ways House Social Fund</strong></li>
        <li>Post Handling Site B</li>
        <li>Wolverhampton</li>
        <li>WV99 2FX</li>
      </ul>

      <p>Find out about <a href="https://www.gov.uk/budgeting-help-benefits/other-help-you-can-get">other help you could get</a>.</p> 

      <p><a href="javascript:window.print()">Print this page</a></p>

 {#      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p> #}

    </div>
  </div>

{% endblock %}
