{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  SMS service confirmation - loan accepted - fewer than 320 characters 
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-s">Budgeting Loans - DWP</h1>

      <hr>

      <p>You've accepted a Budgeting Loan of £250, [first name]. You'll get the money within 5 days. You'll pay back £15.20 every 2 weeks from your [benefit name]. We will write to you when your repayments are due to start.</p>

    </div>
  </div>

{% endblock %}
