{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  SMS decision notification - neutral - less than 320 characters 
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }} #}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-s">Budgeting Loans - DWP</h1>

      <hr>

      <p>You need to check the decision on your Budgeting Loan application, [first name]. Do this by 29 January 2020. Your application reference is 71ACED3A. Your response code is 877582362. Go to <a href="/BLAS/v7/application-reference-code">https://www.apply-budgeting-loan.service.gov.uk/decision</a></p>

    </div>
  </div>

{% endblock %}
