{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Jobseeker's Allowance and low income benefits</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p><a href="#">Check you're eligible</a> before you apply</p>

      <div class="govuk-inset-text">
        <p>If you get Universal Credit you cannot get a Budgeting Loan. You’ll need to apply for a <a href="#">Budgeting Advance</a> instead.</p>
      </div>

      <p>You can apply online or using the paper form.</p>

      <p>There’s a different way to apply in <a href="#">Northern Ireland.</a></p>

      <a href="/v1/address" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      <h2 class="govuk-heading-m">Apply using the paper form</h2>

      <p>You will need to fill in form SF500. You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/government/publications/budgeting-loan-claim-form">download and print the form</a></li>
        <li>pick it up from <a rel="external" href="https://find-your-nearest-jobcentre.dwp.gov.uk/">your nearest Jobcentre Plus</a>
      </li>
        <li>phone the Social Fund and ask for a form to be posted to you - allow 5 working days for the form to arrive</li>
      </ul>

      <div class="contact govuk-inset-text">
      <p><strong>Social Fund</strong><br>
      Telephone: 0800 169 0140  <br>
      Welsh language: 0800 169 0240  <br>
      <a href="https://www.ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 169 0140   <br>
      Monday to Friday, 8am to 6pm<br>
      <a href="/call-charges">Find out about call charges</a></p>
      </div>

      <p>Return your completed form by post or hand it in to your local Jobcentre Plus.</p>

      <h2 class="govuk-heading-m">After you apply</h2>

      <p>You'll get a letter telling you if you've been offered a loan within:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>20 working days if you apply online</li>
        <li>25 working days if you apply by post</li>
      </ul>

      <p>You must sign page 4 of the acceptance letter and return it if you want to accept the loan. Return it to the address on the letter.</p>

      <p>You'll then receive the money within 12 working days. It'll be <a href="/how-to-have-your-benefits-paid">paid into your bank, building society or credit union account</a>.</p>

      <h2 class="govuk-heading-m">Questions about your application</h2>

      <p>Call the Social Fund if you have a question about the progress of your application.</p>

      <p>Allow 20 working days before phoning if you return your form by post (it may not have been processed before then).</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Options for dealing with your debt
              </a>
            </li>
            <li>
              <a href="#">
                Report a loan shark
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
