
{% extends "layout.html" %}

{% block pageTitle %}
  Thanks for helping us test this prototype so far
{% endblock %}

{% block beforeContent %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Testing only"
  },
  html: 'Messages will not be sent and no data is saved.'
}) }}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/appointee-details" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="if-loan-for-you-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Thanks for helping us test this prototype so far
            </h1>
          </legend>
          <p>Now imagine you've completed the rest of the form and continue on to the last steps.</p>
        </fieldset>
       
        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>


{% endblock %}
