
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">A list of all user testing dates and locations and what was tested</h1>

          <h2 class="govuk-heading-m"><a href="/master/start">Doncaster Jobcentre - 14/08/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To test the assisted digital screen and changes to the address input screen</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Holbeck Elderly Aid - 29/08/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Explore attitudes to borrowing within the pension credit claimant group, and digital abilities, in order to gain a broader understanding of why so few pension credit customers apply for budgeting loans</li>
            <li>Explore levels of digital ability in order to feed into an assisted digital strategy for the project</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Telephone interviews - 09/09/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Explore why some pension credit customers chose to complete a clerical application form rather than apply online.</li>
            <li>To discover whether these customers would use an online application in the future</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Hull Jobcentre - 26/09/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To test the end to end prototype, including postcode lookup and summary screen</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Fiveways House, Birmingham - 02/10/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Processor observation/interview</li>
            <li>Team meeting with work coaches, and 1-1 interview with an enquiry team member</li>
            <li>To identify problems currently experienced by processors in respect of processing ABL forms that have been rejected as robotic exceptions.</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Chesterfield Jobcentre - 10/10/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To identify work coach actions when a customer requests a clerical form to apply for a budgeting loan</li>
            <li>understand whether the online service is actively promoted</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Chesterfield Jobcentre - 21/10/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>1-1 Interview with a visiting officer</li>
            <li>Explore the demand for visiting officers to provide support to customers to complete budgeting loan applications, and understand how changes to the offer and acceptance process might impact their working processes</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Skegness Service Centre - 30/10/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Processor observation/interview</li>
            <li>To identify problems currently experienced by processors in respect of processing ABL forms that have been rejected as robotic exceptions</li>
          </ul>

          <h2 class="govuk-heading-m"><a href="/master/start">Hull Jobcentre - 04/11/19</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Pop up research</li>
            <li>To further understand the pain points caused to the customer of the current offer letter</li>
          </ul>



        
    </div>
</div>

{% endblock %}
