
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">A list of all user flows around the budget loan improvements and new service</h1>

          <h2 class="govuk-heading-m">High level process map</h2>
          <p>Outcome from the process workshop from Wednesday 18th September.</p>
          <p><a class="govuk-button" href="/public/images/high-level-process.jpg" target="_blank">View high level process map</a></p>

          <h2 class="govuk-heading-m">Exsisting application flow 2016- 2019</h2>
          <p>To show the user journey before we itterated and added improvements.</p>
          <p><a class="govuk-button" href="/public/images/E2E-flow-OLD.pdf" target="_blank">View esisting application user flow</a></p>

          <h2 class="govuk-heading-m">New proposed application flow</h2>
          <p>To show the user journey after we itterated and added improvements for alpha.</p>
          <p><a class="govuk-button" href="/public/images/e2e-flow.pdf" target="_blank">View proposed application user flow</a></p>

          <h2 class="govuk-heading-m">New proposed acceptance service flow</h2>
          <p>proposed new service.</p>
          <p><a class="govuk-button" href="/public/images/proposed-new acceptance-service.pdf" target="_blank">View new acceptance service user flow</a></p>


        
    </div>
</div>

{% endblock %}
