
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">A list of all user flows around the Budgeting Loan improvements and new service</h1>

          <h2 class="govuk-heading-m"><a href="/public/images/high-level-process.jpg" target="_blank">High level process map</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Outcome from the process workshop from Wednesday 18 September 2019.</li>
          </ul>
          <p><a class="govuk-button" href="/public/images/high-level-process.jpg" target="_blank">View high level process map</a></p>

          <h2 class="govuk-heading-m"><a href="/public/images/E2E-flow-OLD.pdf" target="_blank">Existing application flow 2017 to 2019</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To show the user journey before we iterated and added improvements.</li>
          </ul>
          <p><a class="govuk-button" href="/public/images/E2E-flow-OLD.pdf" target="_blank">View existing application</a></p>

          <h2 class="govuk-heading-m"><a href="/public/images/e2e-flow.pdf" target="_blank">New proposed application flow</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>To show the user journey after we iterated and added improvements.</li>
          </ul>
          <p><a class="govuk-button" href="/public/images/e2e-flow.pdf" target="_blank">View proposed application</a></p>

          <h2 class="govuk-heading-m"><a href="/public/images/proposed-new acceptance-service.pdf" target="_blank">New proposed acceptance service flow</a></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Proposed new service.</li>
          </ul>
          <p><a class="govuk-button" href="/public/images/proposed-new acceptance-service.pdf" target="_blank">View new acceptance service</a></p>


        
    </div>
</div>

{% endblock %}
