
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apply for a Budgeting Loan prototype
          </h1>
          <p>This is for testing only, do not rely on it if you want something real to happen.</p>

          <h2 class="govuk-heading-m"><a href="/v1/start">BL application 2016-2019</a></h2>
          <p>Assumption: Not everyone will know what address their benefit is registered to, so gathering where they live and letters sent will be enough to match addresses in our systems.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Start page</li>
            <li>Start question about whether you're the applicant</li>
            <li>Address question around assumption above</li>
          </ul>

          <p><a class="govuk-button" href="/v1/start">Start - Old BL application</a></p>

          <h2 class="govuk-heading-m"><a href="/v1/start">Version 1</a></h2>
          <p>Assumption: Not everyone will know what address their benefit is registered to, so gathering where they live and letters sent will be enough to match addresses in our systems.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Start page</li>
            <li>Start question about whether you're the applicant</li>
            <li>Address question around assumption above</li>
          </ul>

          <p><a class="govuk-button" href="/v1/start">Start - version 1.0</a></p>

          <h2 class="govuk-heading-m"><a href="/v2/start">Version 2</a></h2>
          <p>Assumption: Everyone knows what address their benefit is registered to, so asking for that address will be enough to match addresses in our systems, and then offer them an alternate correspondence address.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Start page</li>
            <li>Start question about whether you're the applicant</li>
            <li>Address question around assumption above</li>
          </ul>

          <p><a class="govuk-button" href="/v2/start">Start - version 2.0</a></p>
  
          <h2 class="govuk-heading-m"><a href="/v3/start">Version 3</a></h2>
          <p>Assumption: Disregarded</p>

          <p><a class="govuk-button" href="/v3/start">Start - version 3.0</a></p>

          <h2 class="govuk-heading-m"><a href="/v4/start">Version 4 - Summary page</a></h2>
          <p>Assumption: People will be more likely to check their answers and read the declaration if these are on the same page, as the the former must be done to accept the latter.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Same content as version 1</li>
            <li>Check answers showing full range of possible questions with declaration on same page</li>
            <li>Back link added to each page</li>             
          </ul>

          <p><a class="govuk-button" href="/v4/start">Start - version 4.0</a></p>

          <h2 class="govuk-heading-m"><a href="/v5/start">Version 5 - Summary page</a></h2>
          <p>Assumption: People will be more likely to check their answers and read the declaration if these are split over two pages, as otherwise there's too much to read and process at once.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Same content as version 1</li>
            <li>Check answers on its own page</li>
            <li>Declaration on its own page</li>
            <li>Back link added to each page</li>
          </ul>

          <p><a class="govuk-button" href="/v5/start">Start - version 5.0</a></p>

          <h2 class="govuk-heading-m"><a href="/v1/start">BL application end to end with improvements</a></h2>
          <p>Assumption: Not everyone will know what address their benefit is registered to, so gathering where they live and letters sent will be enough to match addresses in our systems.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Start page</li>
            <li>Start question about whether you're the applicant</li>
            <li>Address question around assumption above</li>
          </ul>

          <p><a class="govuk-button" href="/v1/start">Start - New BL application</a></p>

    </div>
</div>

{% endblock %}
