
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-m">Claimant application prototypes and user flow</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/master/start" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed claimant application prototype</h2>
          <p class="tile__paragraph">To reflect the updated user journey with agreed changes for Alpha.</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="index-prototypes" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">List of all prototypes</h2>
          <p class="tile__paragraph">specific slices of the application and and references for Jira stories.</p>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Acceptance service user flow and prototypes</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/public/images/proposed-new-acceptance-service-mvp.pdf" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed user flow of new acceptance service</h2>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="prototype-new-service" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed prototypes for new acceptance service</h2>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Full Budget loan future vision</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/public/images/e2e-flow.pdf" target="_blank" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed end to end service flow diagram</h2>
          <p class="tile__paragraph">Including ammendments to the application and the new acceptance service</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="index-userflow" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">List of all user flow diagrams</h2>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Historical Budget Loan information</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/as-is/start" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Application prototype 2016 - 2019</h2>
          <p class="tile__paragraph">To reflect the user journey without the changes we're making in Alpha.</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="https://bud-loans.herokuapp.com" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Budgeting Loan service - up to 5 January 2017</h2>
          <p class="tile__paragraph">This shows the design work the service team prepared in 2016 and 2017 for the launch of the service into public beta.</p>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">User research</h1>

    <div class="govuk-grid-column-one-half">
      <a href="index-usertesting" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">User research breakdown</h2>
          <p class="tile__paragraph">List of dates/locations/versions tested </p>
        </div>
      </a>
    </div>

{% endblock %}
