
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">A list of all user testing dates and locations and what was tested</h1>

          <h2 class="govuk-heading-m"><a href="/master/start">Doncaster 14/8/19</a></h2>
          <p>To test the assisted digital screen and changes to the address input screen</p>
          <p><a class="govuk-button" href="/master/start">View prototype</a></p>

          <h2 class="govuk-heading-m"><a href="/master/start">Hull 26/9/19</a></h2>
          <p>To test the end to end prototype, including postcode lookup and summary screen</p>
          <p><a class="govuk-button" href="/master/start">View prototype</a></p>



        
    </div>
</div>

{% endblock %}
