
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-m">Apply for a Budgeting Loan prototypes and user flow</h1>

    <p>Testing!</p>

    <div class="govuk-grid-column-one-half">
      <a href="/master/start" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed claimant application prototype</h2>
          <p class="tile__paragraph">To reflect the updated user journey with agreed changes.</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="index-prototypes" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">List of all prototypes</h2>
          <p class="tile__paragraph">Specific slices of the application and references for Jira stories.</p>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Get your loan decision and respond - user flow and prototypes</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/public/images/proposed-new-acceptance-service-mvp.pdf" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed user flow of new loan decision and response service</h2>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="prototype-new-service" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed prototypes for new loan decision and response service</h2>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Full Budgeting Loan future vision</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/public/images/E2E-flow-final.pdf" target="_blank" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Proposed end to end service flow diagram</h2>
          <p class="tile__paragraph">Including amendments to the application and the new decision and response service.</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="index-userflow" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">List of all user flow diagrams</h2>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">Historical Budgeting Loan information</h1>

    <div class="govuk-grid-column-one-half">
      <a href="/as-is/start" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Application prototype 2017 to 2019</h2>
          <p class="tile__paragraph">To reflect the user journey without the changes the Grants and Loans team are now making.</p>
        </div>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <a href="https://bud-loans.herokuapp.com" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">Previous Budgeting Loan service team work - up to 5 January 2017</h2>
          <p class="tile__paragraph">This shows the design work the service team prepared in 2016 and 2017 for the launch of the service into public beta.</p>
          <p class="tile__paragraph">Username: bud-loans, password: snaol-dub</p>
        </div>
      </a>
    </div>

    <h1 class="govuk-heading-m">User research</h1>

    <div class="govuk-grid-column-one-half">
      <a href="index-usertesting" class="tile tile--grey">
        <div class="tile__contents">
          <h2 class="tile__title">User research breakdown</h2>
          <p class="tile__paragraph">List of dates/locations/versions tested </p>
        </div>
      </a>
    </div>

{% endblock %}
