
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for the new acceptance service</h1>

          <h2 class="govuk-heading-m"><strong>DISREGARDED BY SECURITY/RISK WORKSHOP</strong> - <a href="/BLAS/v1/offer-codes">Version 1</a></h2>
          <p>Assumption: The claimant can find both their reference code and their offer code on either their email/SMS/letter and enter them on the same page to proceed to accept the offer</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>2 fields of validation for entry</li>
            <li>Once entered claimant can proceed to terms</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v1/offer-codes">Start - version 1</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v2/application-reference">Version 2</a></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>All information on one page for offer</li>
            <li>All information on one page for rejection</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v2/application-reference">Start - version 2.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v3/application-reference">Version 3</a></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>Offer information on one page</li>
            <li>Help information on a second page</li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
            <li>All information on one page for rejection</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v3/application-reference">Start - version 3.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v4/application-reference">Version 4</a></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>All offer information on a one step at a time basis </li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
            <li>All information on rejection on a one step per page basis</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v4/application-reference">Start - version 4.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v5/application-reference">Version 5</a></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>Introduction of a sub navigation for information</li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v5/application-reference">Start - version 5.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v6/email-neutral">Version 6</a></h2>
          <p>Assumption: The claimant will be able to find and fill in the details needed to see the decision, then understand the decision we have given them and take the action that's right for them.</p>

          <p>This prototype includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a mockup of an email notification that does not indicate approval or rejection, but instead invites the applicant to read the decision in the online service</li>
            <li>a decision page for a full award that explains the repayment terms, information about how this is worked out that's hidden as a default (as I assume most will not be interested in this, but they still have the right to know) and what applicants can do if they are not happy with the decision</li>
            <li>a question asking if the applicant wants to take the loan on the same page as the offer information, so they have an active choice to make based on the terms given to them</li>
            <li>a confirmation page for when the applicant chooses to accept the loan that tells them they've been sent a confirmation email, tells them when they should be paid and that we'll tell them when we do this</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v6/email-neutral">Start - version 6.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v7/email-offer">Version 7</a></h2>
          <p>Assumption: The claimant will be able to find and fill in the details needed to see the decision, then understand the decision we have given them and take the action that's right for them.</p>

          <p>A mocked-up email notification:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>tells the applicant if we can or cannot offer them the loan</li>
            <li>directs them to go to the online service to complete the process by a date, as the offer is only valid so long</li>
            <li>provides contact details if the applicant cannot complete the process online</li>
          </ul>
          <p>A page to enter the application reference number.</p>
          <p>A page to enter the response code.</p>
          <p>a page containing the decision that contains:
          <ul class="govuk-list govuk-list--bullet">
            <li>the amount offered</li>
            <li>how much they'll pay back a week and the benefit this is taken from (as we'll have this information from the Social Fund Computer System)</li> 
            <li>information about how the offer is worked out that's hidden as a default, as I assume most will not be interested in this, but they still have the right to know</li>
            <li>a declaration containing terms for the applicant to agree to</li>
            <li>a call to action button for acceptance of the loan under the declaration that is written from the applicant's point of view</li>
            <li>a way of declining the loan as a text link under the acceptance</li>
            <li>a shorter reference to the applicant right to a review by the decline link</li>
          <ul>
          <p>A confirmation page for an accepted loan that contains:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a panel component confirming the action<li>
            <li>the amount they will be paid and by when</li>
            <li>what their repayments will be and what they will be taken from</li>
            <li>a 'Print this page' link as another way of keeping a record of what's happened</li>
          </ul>
          <p>A confirmation page for a rejected loan that contains:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a panel component confirming the action<li>
            <li>an explanation of their right to a review</li>
            <li>clarification that they cannot ask us to review the repayment terms offered</li>
            <li>a postal address they can write to</li>
            <li>a link to GOV.UK navigation section on other help for people on a low income, as the user has just decided not to use this Budgeting Loan as a form of support</li>
            <li>a 'Print this page' link as another way of keeping a record of what's happened</li>
          </ul>

          <p><a class="govuk-button" href="/BLAS/v7/email-offer">Start - version 7.0</a></p>


    </div>
</div>

{% endblock %}
