
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for the new acceptance service</h1>

<!--Removed the versions below, as they were prepared as iterations without steer from user research.-->

{#           <h2 class="govuk-heading-m"><a href="/BLAS/v1/offer-codes">Version 1</a> - <strong>DISREGARDED BY SECURITY/RISK WORKSHOP</strong></h2>
          <p>Assumption: The claimant can find both their reference code and their offer code on either their email/SMS/letter and enter them on the same page to proceed to accept the offer</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>2 fields of validation for entry</li>
            <li>Once entered claimant can proceed to terms</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v1/offer-codes">Start - version 1</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v2/application-reference">Version 2</a> - <strong>DISREGARD THIS, AS IT USES PLACEHOLDER CONTENT</strong></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>All information on one page for offer</li>
            <li>All information on one page for rejection</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v2/application-reference">Start - version 2.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v3/application-reference">Version 3</a> - <strong>DISREGARD THIS, AS IT USES PLACEHOLDER CONTENT</strong></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>Offer information on one page</li>
            <li>Help information on a second page</li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
            <li>All information on one page for rejection</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v3/application-reference">Start - version 3.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v4/application-reference">Version 4</a> - <strong>DISREGARD THIS, AS IT USES PLACEHOLDER CONTENT</strong></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>All offer information on a one step at a time basis </li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
            <li>All information on rejection on a one step per page basis</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v4/application-reference">Start - version 4.0</a></p>

          <h2 class="govuk-heading-m"><a href="/BLAS/v5/application-reference">Version 5</a> - <strong>DISREGARD THIS, AS IT USES PLACEHOLDER CONTENT</strong></h2>
          <p>Assumption: The claimant can find the offer code on their offer notification and then validate this by entering a second code sent to their phone/email in real time, they understand the decision we have given them and they can accept this.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>One code entry per page to get through to offer</li>
            <li>Introduction of a sub navigation for information</li>
            <li>do you want offer yes/no question so user can get a tailored declaration</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v5/application-reference">Start - version 5.0</a></p> #}

          <h2 class="govuk-heading-m">Version 6</h2>

          <p><strong class="app-c-tag app-c-tag--danger">Not used in testing</strong> - created for December 2019 show and tell, feedback contributed to version 7.</p>

          <p>Overall assumption: The claimant will be able to find and fill in the details needed to see the decision, then understand the decision we have given them and take the action that's right for them.</p>

          <p>This prototype includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a mockup of an email notification that does not indicate approval or rejection, but instead invites the applicant to read the decision in the online service</li>
            <li>a decision page for a full award that explains the repayment terms, information about how this is worked out that's hidden as a default (as I assume most will not be interested in this, but they still have the right to know) and what applicants can do if they are not happy with the decision</li>
            <li>a question asking if the applicant wants to take the loan on the same page as the offer information, so they have an active choice to make based on the terms given to them</li>
            <li>a confirmation page for when the applicant chooses to accept the loan that tells them they've been sent a confirmation email, tells them when they should be paid and that we'll tell them when we do this</li>
          </ul>
          <p><a class="govuk-button" href="/BLAS/v6/email-neutral">Start - version 6.0</a></p>

          <h2 class="govuk-heading-m">Version 7</h2>

          <p><strong class="app-c-tag app-c-tag--warning">Tested</strong> - see user research from January to 10 February 2020. Used as basis for version 8.</p>

          <p>Overall assumption: The claimant will be able to find and fill in the details needed to see the decision, then understand the decision we have given them and take the action that's right for them.</p>

          <h3 class="govuk-heading-s">Step 1 of flow - user is notified there's a decision to check</h2>

          <p>Email:</p>

          <ul class="govuk-list govuk-list--bullet">
<!--Removed neutral email, as tech will allow us to get straight to the point and so this was not used in research.-->
{#             <li><a href="/BLAS/v7/email-neutral">neutrally worded - if we cannot indicate approval or rejection</a></li> #}
            <li><a href="/BLAS/v7/email-offer">indicating approval</a></li>
            <li><a href="/BLAS/v7/email-declined">indicating rejection</a></li>
          </ul>

<!--Removed short text messages, as we cannot cover all content in this space and these were not used in research.-->
{#           <p>Text message - fewer than 160 characters including spaces:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/BLAS/v7/SMS-less-than-160-neutral">neutrally worded - fewer than 160 characters</a></li>
            <li><a href="/BLAS/v7/SMS-less-than-160-offer">indicating approval - fewer than 160 characters</a></li>
            <li><a href="/BLAS/v7/SMS-less-than-160-declined">indicating rejection - fewer than 160 characters</a></li>
          </ul> #}

          <p>Text message - more than 160 but fewer than 320 characters including spaces:</p>

          <ul class="govuk-list govuk-list--bullet">
<!--Removed neutral text, as tech will allow us to get straight to the point and so this was not used in research.-->
{#             <li><a href="/BLAS/v7/SMS-less-than-320-neutral">neutrally worded - fewer than 320 characters</a></li> #}
            <li><a href="/BLAS/v7/SMS-less-than-320-offer">indicating approval - fewer than 320 characters</a></li>
            <li><a href="/BLAS/v7/SMS-less-than-320-declined">indicating rejection - fewer than 320 characters</a></li>
          </ul>

          <h3 class="govuk-heading-s">Step 2 of flow - user needs to enter the codes</h2>

          <p><a href="/BLAS/v7/application-reference-code">Enter the application reference</a></p>

          <p><a href="/BLAS/v7/response-code">Enter the response code</a></p>

          <h3 class="govuk-heading-s">Step 3 of flow - seeing the loan decision</h2>

          <p><a href="/BLAS/v7/full-loan-offer-radio-choice">A loan can be offered - user needs to accept or decline</a></p>

          <p><a href="/BLAS/v7/loan-accepted">User has accepted the loan offer</a></p>

          <p><a href="/BLAS/v7/loan-declined">User has declined the loan offer</a></p>

          <p><a href="/BLAS/v7/no-loan-offer">No loan can be offered</a></p>

          <p><a href="/BLAS/v7/review-rights">User needs to contact us about the decision</a></p>

          <h3 class="govuk-heading-s">Step 4 of flow - for users that are offered a loan, confirm the choice they make in the service</h2>

          <p><a href="/BLAS/v7/email-loan-accepted">Email confirmation - user has accepted the loan offer</a></p>

          <p><a href="/BLAS/v7/email-loan-declined">Email confirmation - user has declined the loan offer</a></p>

          <p><a href="/BLAS/v7/SMS-less-than-320-accept-confirmation">Text message confirmation - user has accepted the loan</a></p>

          <p><a href="/BLAS/v7/SMS-less-than-320-decline-confirmation">Text message confirmation - user has declined the loan</a></p>

          <p><a class="govuk-button" href="/BLAS/v7/application-reference-code">Start version 7.0 at application code page</a></p>


          <h2 class="govuk-heading-m">Version 8</h2>

          <p><strong class="app-c-tag app-c-tag--default">Work in progress</strong></p>

          <p>Overall assumption: The claimant will be able to find and fill in the details needed to see the decision, then understand the decision we have given them and take the action that's right for them.</p>

          <h3 class="govuk-heading-s">Step 1 of flow - user is notified there's a decision to check</h2>

          <p>Email:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/BLAS/v8/email-offer">indicating approval</a></li>
            <li><a href="/BLAS/v8/email-declined">indicating rejection</a></li>
          </ul>

          <p>Text message - more than 160 but fewer than 320 characters including spaces:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/BLAS/v8/SMS-less-than-320-offer">indicating approval - fewer than 320 characters</a></li>
            <li><a href="/BLAS/v8/SMS-less-than-320-declined">indicating rejection - fewer than 320 characters</a></li>
          </ul>

          <h3 class="govuk-heading-s">Step 2 of flow - user needs to enter the codes</h2>

          <p><a href="/BLAS/v8/application-reference-code">Enter the application reference</a></p>

          <p><a href="/BLAS/v8/response-code">Enter the security code</a></p>

          <h3 class="govuk-heading-s">Step 3 of flow - seeing the loan decision</h2>

          <p><a href="/BLAS/v8/full-loan-offer-radio-choice">A loan can be offered - user needs to accept or decline</a></p>

          <p><a href="/BLAS/v8/loan-accepted">User has accepted the loan offer</a></p>

          <p><a href="/BLAS/v8/loan-declined">User has declined the loan offer</a></p>

          <p><a href="/BLAS/v8/no-loan-offer">No loan can be offered</a></p>

          <p><a href="/BLAS/v8/review-rights">User needs to contact us about the decision</a></p>

          <h3 class="govuk-heading-s">Step 4 of flow - for users that are offered a loan, confirm the choice they make in the service</h2>

          <p><a href="/BLAS/v8/email-loan-accepted">Email confirmation - user has accepted the loan offer</a></p>

          <p><a href="/BLAS/v8/email-loan-declined">Email confirmation - user has declined the loan offer</a></p>

          <p><a href="/BLAS/v8/SMS-less-than-320-accept-confirmation">Text message confirmation - user has accepted the loan</a></p>

          <p><a href="/BLAS/v8/SMS-less-than-320-decline-confirmation">Text message confirmation - user has declined the loan</a></p>

          <p><a class="govuk-button" href="/BLAS/v8/application-reference-code">Start version 8.0 at application code page</a></p>


    </div>
</div>

{% endblock %}
