
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for address input via postcode lookup in the application flow</h1>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><br /><a href="/v6/find-address">Version 6 - find address by postcode</a></h2>
          <p>Assumption: People will be more likely to enter the correct address that can be processed by robotics (and not fail) if they enter the essential parts and the system automatically fills in the rest.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Postcode and house number fields for lookup</li>
            <li>Select address from those returned</li>
            <li>Text link to enter address manually if it is not returned</li>            
            <li>Enter address manually from text link</li>
          </ul>
          <p><a class="govuk-button" href="/v6/find-address">Start - version 6.0</a></p>

          <h2 class="govuk-heading-m"><strong>READY FOR IMPLEMENTATION</strong><a href="/v7/find-address">Version 7 - find address by postcode</a></h2>
          <p>Assumption: People will be more likely to enter the correct address that can be processed by robotics (and not fail) if they enter the essential parts and the system automatically fills in the rest.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Postcode and house number fields for lookup</li>
            <li>Text from version 20 to guide users on what address to enter if unsure</li>
            <li>Select address from those returned</li>
            <li><a href="/v7/select-address-long">Long list of addresses returned as an edge case</a></li>
            <li>Radio option if address not returned as expected</li>
            <li>Enter address manually if stuck or prefer to</li>
            <li>Show name/number or postcode inputted if <a href="/v7/address-notfound">no results found</a> to check for mistakes</li>
            <li>Change name/number or postcode inputted if <a href="/v7/address-notfound">no results found</a> and mistake made</li>
            <li>Enter address manually if <a href="/v7/address-notfound">no results found</a> and no mistakes made</li>

            <li>Separate page to check if the user wants <a href="/v7/text-message-updates">text message updates</a>, as this was previously on the address page</li>
          </ul>
          <p><a class="govuk-button" href="/v7/find-address">Start - version 7.0</a></p>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><br /><a href="/v8/start">Version 8 - Savings amount</a></h2>
          <p>Assumption: If the amount of savings is recorded in the application then they don't have to contacted to find out this figure, speeding up the application process.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller title as we don't know the user's age yet so can't apply validation</li>
            <li>Savings amount if 'yes' is selected</li>
          </ul>
          <p><a class="govuk-button" href="/v8/start">Start - version 8.0</a></p>

    </div>
</div>

{% endblock %}
