
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for specific updates to savings question in the application flow</h1>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><br /><a href="/v8/start">Version 8 - Savings amount</a></h2>
          <p>Assumption: If the amount of savings is recorded in the application then they don't have to contacted to find out this figure, speeding up the application process.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller title as we don't know the user's age yet so can't apply validation</li>
            <li>Savings amount if 'yes' is selected</li>
          </ul>
          <p><a class="govuk-button" href="/v8/start">Start - version 8.0</a></p>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><br /><a href="/v9/start">Version 9 - Savings amount</a></h2>
          <p>Assumption: If the amount of savings is recorded in the application then they don't have to contacted to find out this figure, speeding up the application process.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller title as we don't know the user's age yet so can't apply validation</li>
            <li>Hint text around what savings are</li>
            <li>Savings amount if 'yes' is selected</li>
          </ul>
          <p><a class="govuk-button" href="/v9/start">Start - version 9.0</a></p>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><br /><a href="/v10/start">Version 10 - Savings amount over or under</a></h2>
          <p>Assumption: If the amount of savings is recorded in the application then they don't have to contacted to find out this figure, speeding up the application process.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller title as we don't know the user's age yet so can't apply validation</li>
            <li>Hint text around what savings are</li>
            <li>over or under radios for amount</li>
            <li>Savings amount if 'yes' is selected</li>
          </ul>
          <p><a class="govuk-button" href="/v10/start">Start - version 10.0</a></p>

          <h2 class="govuk-heading-m"><strong>READY FOR IMPLEMENTATION</strong><br /><a href="/v11/start">Version 11 - Savings yes with amount and no, revised question</a></h2>
          <p>Assumption: If the amount of savings is recorded in the application then they don't have to contacted to find out this figure, speeding up the application process.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller title as we don't know the user's age yet so can't apply validation</li>
            <li>Hint text around what savings are</li>
            <li>yes or no for amount</li>
            <li>Savings amount if 'yes' is selected</li>
          </ul>
          <p><a class="govuk-button" href="/v11/start">Start - version 11.0</a></p>

    </div>
</div>

{% endblock %}
