
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for content changes to try and stop address mis-matching in the application flow</h1>
          
          <h2 class="govuk-heading-m"><a href="/v19/find-address">Version 19 - reducing address mis-matches</a></h2>

          <p>Assumption: It is necessary to guide users who do not have a fixed address on what to do, so by guiding them to enter where they get letters about their benefit claim sent to, users will be more likely to enter an address that is both:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>held on DWP systems for the purposes of matching (either the address their benefit claim is registered to or the correspondence address for their claim)</li>
            <li>suitable to them as a place to receive post, as they’ve already agreed this with DWP as part of their qualifying benefit claim</li>
          </ul>

          <p><a class="govuk-button" href="/v19/find-address">Start - version 19.0</a></p>

          <h2 class="govuk-heading-m"><a href="/v20/find-address">Version 20 - reducing address mis-matches</a></h2>

          <p>Assumption: We can remove the reference on what people with no fixed address should do, as we currently don't have a record if they need or read this text. Instead, by encouraging all users to enter where they get letters about their benefit claim sent to, users will be more likely to enter an address that is both:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>held on DWP systems for the purposes of matching (either the address their benefit claim is registered to or the correspondence address for their claim)</li>
            <li>suitable to them as a place to receive post, as they’ve already agreed this with DWP as part of their qualifying benefit claim</li>
          </ul>

          <p>This was integrated into the 'Master' for user research purposes on 30 October 2019.</p>

          <p><a class="govuk-button" href="/v20/find-address">Start - version 20.0</a></p>

    </div>
</div>

{% endblock %}
