
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for how users prefer to be contacted about their application</h1>

<!--Removed the version below, as it was prepared as iterations without steer from user research.-->

{#           <h2 class="govuk-heading-m">Version 13 - preferred contact method</h2>
          <p><strong>Not yet tested. Status needs to be confirmed - see team workshop notes from October 2019</strong></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Able to select one method of contact</li>
            <li>Enter method of contact once</li>
            <li>No option for offer via one method and mobile updates for everything else</li>
          </ul>
          <p><a class="govuk-button" href="/v13/personal-details">Start - version 13.0</a></p> #}

          <h2 class="govuk-heading-m">Version 14 - select preferred contact methods from checkboxes</h2>

          <p><strong class="app-c-tag">In testing</strong></p>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>Gather preferred contact method  - select multiple options (email, text message, letter)</li>
            <li>Ask if we can contact them by phone if there are questions - if mobile number was previously provided, give this an option</li>
          </ul>
          <p><a class="govuk-button" href="/v14/personal-details">Start - version 14.0</a></p>


<!--Removed the versions below, as they were prepared as iterations without steer from user research.-->

{#           <h2 class="govuk-heading-m">Version 15 - preferred contact method</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Able to select one method of contact</li>
            <li>Enter method of contact twice to confirm</li>
            <li>No option for offer via one method and mobile updates for everything else</li>
          </ul>
          <p><a class="govuk-button" href="/v15/personal-details">Start - version 15.0</a></p>

          <h2 class="govuk-heading-m">Version 16 - preferred contact method</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Able to select multiple methods of contact</li>
            <li>Enter method of contact twice to confirm</li>
            <li>Option for offer via one method and mobile updates for everything else on seperate page</li>
          </ul>
          <p><a class="govuk-button" href="/v16/personal-details">Start - version 16.0</a></p> #}

{#           <h2 class="govuk-heading-m">Version 17 - preferred contact method</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Able to select multiple methods of contact</li>
            <li>Enter method of contact twice to confirm</li>
            <li>Option for offer via one method and mobile updates for everything else on same page</li>
          </ul>
          <p><a class="govuk-button" href="/v17/personal-details">Start - version 17.0</a></p> #}

{#           <h2 class="govuk-heading-m">Version 18 - preferred contact method (double entry of details)</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Able to select multiple methods of contact</li>
            <li>Enter method of contact twice to confirm</li>
            <li>No option for offer via one method and mobile updates for everything else</li>
          </ul>
          <p><a class="govuk-button" href="/v18/personal-details">Start - version 18.0</a></p> #}

          <h2 class="govuk-heading-m">Version 18.1 - lead with email question, then text message as fallback to this, then letter as fallback where neither selected</h2>

          <p><strong class="app-c-tag app-c-tag--danger">Ditched</strong> - tested in January 2020</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Pension Credit approach of one thing per page - splitting each contact method out</li>
            <li>Start by asking if we can contact via email, if yes reveal input box for address</li>
            <li>If they do not choose email ask if we can contact via text message, if yes reveal input box for mobile phone number</li>
            <li>If they have provided a mobile number for text messages, ask if we can call them on the number provided - if no ask for alternative number</li>
            <li>If they do not provide an email address or mobile number for text messages, say we'll send them a letter on the confirmation page</li>
            <li>Remove sentence that says their reference is their National Insurance number</li>
          </ul>
          <p><a class="govuk-button" href="/v18a/personal-details">Start - version 18.1</a></p>


<!--Removed the versions below, as they were prepared as iterations of 18.1 before it went into user research. The principle of the flow in 18.1 tested poorly, so these verisons can be disregarded.-->

{#           <h2 class="govuk-heading-m">Version 18.2 - preferred contact method - prioritisation via management information (MI)</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Prioritisation via research and MI on prefered way to be contacted/cost/failure of delivery</li>
            <li>User can only select one</li>
            <li>Ask them for email first as it was the highest of the three in preferred contact method research/doesn't cost to send</li>
            <li>If user selects yes, reveal input for address</li>
            <li>if not email then ask for phone number to text, second preference method/on average costs £7pw on failed to send texts</li>
            <li>If user selects yes, reveal input for number</li>
            <li>Third option is letter if user really doesn't want to be contacted this way (do we need to reveal text that explains this is slower?)</li>
          </ul>
          <p><a class="govuk-button" href="/v18b/personal-details">Start - version 18.2</a></p> #}

{#           <h2 class="govuk-heading-m">Version 18.3 - preferred contact method (double entry of details) - prioritisation via MI</h2>
            <li>Prioritisation via research and MI on prefered way to be contacted/cost/failure of delivery</li>
            <li>User can only select one</li>
            <li>Ask them for email first as it was the highest of the three in preferred contact method research/doesn't cost to send</li>
            <li>If user selects yes, reveal double input of address for confirmation</li>
            <li>if not email then ask for phone number to text, second preference method/on average costs £7pw on failed to send texts</li>
            <li>If user selects yes, reveal double input of number for confirmation</li>
            <li>third option is letter if user really doesn't want to be contacted this way (do we need to reveal text that explains this is slower?)</li>
          </ul>
          <p><a class="govuk-button" href="/v18c/personal-details">Start - version 18.3</a></p> #}

    </div>
</div>

{% endblock %}
