
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for specific updates to appointee/assisted digital application flow</h1>
  
          <h2 class="govuk-heading-m">Version 3 - appointee/assisted digital start and end</h2>
          <p><strong>Disregard - based on having postcode lookup, does not gather mobile number in way now agreed</strong>
          <p>Assumption: People that are filling in the form on someone else's behalf, such as an appointee acting on behalf of a claimant, will understand our instruction to fill in the form using the other person's details rather than their own.</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Start page</li>
              <li>Start question about whether you're the applicant</li>
              <li>Appointee/assisted digital interruption page saying what happens next</li>
              <li>Appointee contact details at the end</li>
          </ul>
          <p><a class="govuk-button" href="/v3/start">Start - version 3</a></p>

          <h2 class="govuk-heading-m">Version 3.1 - appointee/assisted digital start and end</h2>
          <p><strong>Ready for implementation - manual address entry, gather appointee mobile number but not the claimant's</strong>
          <p>Assumption: People that are filling in the form on someone else's behalf, such as an appointee acting on behalf of a claimant, will understand our instruction to fill in the form using the other person's details rather than their own.</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Start page</li>
              <li>Start question about whether you're the applicant</li>
              <li>Appointee and assisted digital interruption page saying what happens next</li>
              <li>Claimant details</li>
              <li>Claimant address manual entry, no mobile number</li>
              <li>Appointee details</li>
              <li>Appointee address manual entry, gather mobile number</li>
          </ul>
          <p><a class="govuk-button" href="/v3a/start">Start - version 3.1</a></p>

    </div>
</div>

{% endblock %}
