
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Prototypes for adding a check your answers summary page to the application flow</h1>

          <h2 class="govuk-heading-m"><strong>THIS VERSION WAS NOT TAKEN FORWARD</strong><a href="/v4/start"><br />Version 4 - summary page</a></h2>
          <p>Assumption: People will be more likely to check their answers and read the declaration if these are on the same page, as the the former must be done to accept the latter.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Same content as version 1</li>
            <li>Check answers showing full range of possible questions with declaration on same page</li>
            <li>Back link added to each page</li>             
          </ul>
          <p><a class="govuk-button" href="/v4/start">Start - version 4.0</a></p>

          <h2 class="govuk-heading-m"><strong>READY FOR IMPLEMENTATION</strong><br /><a href="/v5/start">Version 5 - summary page</a></h2>
          <p>Assumption: People will be more likely to check their answers and read the declaration if these are split over two pages, as otherwise there's too much to read and process at once.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Same content as version 1</li>
            <li>Check answers on its own page</li>
            <li>Declaration on its own page</li>
            <li>Back link added to each page</li>
          </ul>
          <p><a class="govuk-button" href="/v5/start">Start - version 5.0</a></p>

    </div>
</div>

{% endblock %}
