{% extends "layout-response.html" %}

{% block pageTitle %}
  Your codes are not valid anymore – Budgeting Loans – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Your codes are not valid anymore</h1>

          <p>This Budgeting Loan application has been closed. Information about the decision has been removed to protect your privacy.</p>

          <p>If you need a Budgeting Loan, check if you are eligible and <a class="govuk-link" href="https://www.gov.uk/budgeting-help-benefits/how-to-apply">apply again</a>.</p>

          <h2 class="govuk-heading-m">If you have a question</h2>

          <p>You can talk to an adviser about the decision we sent you.</p>

          <ul class="govuk-list">
            <li><strong>Social Fund</strong></li>
            <li>Telephone: 0800 169 0140</li>
            <li>Welsh language: 0800 169 0240</li> 
            <li>NGT text relay (if you cannot hear or speak on the phone): 18001 then 0800 169 0140</li>
            <li>Monday to Friday, 8am to 6pm</li>
            <li><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></li>

          </ul>

          <h2 class="govuk-heading-m">If you think the decision we sent you is wrong</h2>

          <p>Write to the Social Fund within 28 days of the decision explaining why you think it is wrong. If you send your letter after this date, you will need to tell us why it is late.</p>

          <p>You or your appointee, if you have one, must sign the letter. Include your National Insurance number.</p>

          <p>You should get a reply within 14 days.</p>

          <ul class="govuk-list">
              <li><strong>Five Ways House Social Fund</strong></li>
              <li>Post Handling Site B</li>
              <li>Wolverhampton</li>
              <li>WV99 2FX</li>
          </ul>

        </div>

  </div>

{% endblock %}