{% extends "layout-response.html" %}

{% block pageTitle %}
  What is your application reference? – Budgeting Loans – GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/BLAS/master/response-code" method="post" novalidate="novalidate">
        <div class="govuk-form-group">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="reference-code">What is your application reference?</label>
          </h1>
          <span id="passport-number-hint" class="govuk-hint">
            It is in the message we sent you.
          </span>
          <input class="govuk-input govuk-input--width-10" id="reference-code" name="reference-code" type="text" spellcheck="false">

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you need help using this service
          </span>
        </summary>

        <div class="govuk-details__text">
          <ul class="govuk-list">
              <li>Telephone: 0800 169 0140</li>
              <li>Textphone: 0800 169 0286</li>
              <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
            </ul>
          <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank" rel="noopener noreferrer">Find out about call charges (opens in a new window)</a>
          </p>
        </div>
      </details>

      <p>The online service is also available in <a href="#0">Welsh (Cymraeg)</a>.</p>

    </div>
  </div>

{% endblock %}
