{% extends "layout-response.html" %}

{% block pageTitle %}
  You have declined this Budgeting Loan – Budgeting Loans – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have declined this Budgeting Loan</h1>
      </div>

      <p>We have sent you a confirmation message.</p>

      <p>Find out about <a href="https://www.gov.uk/budgeting-help-benefits/other-help-you-can-get">other help you could get (opens in a new window)</a>.</p> 

      <h2 class="govuk-heading-m">If you have a question</h2>

      <ul class="govuk-list">
        <li><strong>Social Fund</strong></li>
        <li>Telephone: 0800 169 0140</li>
        <li>Welsh language: 0800 169 0240</li>
        <li>NGT text relay (if you cannot hear or speak on the phone): 18001 then 0800 169 0140</li>
        <li>Monday to Friday, 8am to 6pm</li>
        <li><a href="https://www.gov.uk/call-charges">Find out about call charges (opens in a new window)</a></li>
      </ul>

      <p><a href="#">What did you think of this service?</a></p>

    </div>
  </div>

{% endblock %}
