{% extends "layout-response.html" %}

{% block pageTitle %}
  You have been offered a Budgeting Loan – Budgeting Loans – GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/BLAS/master/partial-loan-accepted" method="post" novalidate="novalidate">
        <div class="govuk-form-group">

          <h1 class="govuk-heading-l">You have been offered a Budgeting Loan</h1>

          <p>You applied for a Budgeting Loan of <strong>&pound;<span class="loan-amount">{{ data['loan-amount'] }}</span></strong> on <span class="date"></span>.</p>

          <!-- <p>You currently owe
            {% if data['partner']=="No" and data['child-benefit']=='No' %}<strong>&pound;<span class="loan-amount-left">100</span></strong>{% endif %}
            {% if data['child-benefit']=="Yes" %}<strong>&pound;<span class="loan-amount-left">528</span></strong>{% endif %} for other Budgeting Loans.</p> -->

          <p>You currently owe money for other Budgeting Loans.</p>

          <p>The most we can offer you is
            {% if data['partner']=="No" and data['child-benefit']=='No' %}<strong>&pound;<span class="loan-amount-partial-single"></span></strong>{% endif %}
            {% if data['partner']=="Yes" and data['child-benefit']=='No' %}<strong>&pound;<span class="loan-amount-partial-partner"></span></strong>{% endif %}
            {% if data['child-benefit']=="Yes" %}<strong>&pound;<span class="loan-amount-partial-child"></span></strong>{% endif %}.</p>

          <p>You have until <strong><span class="new-date"></span></strong> to decide whether to accept the loan.</p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How we work out your loan offer
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>The loan amount is based on:
              <ul class="govuk-list govuk-list--bullet">
                <li>whether you are single or live with a partner</li>
                <li>whether you live with children</li>
                <li>how much money we have in our budget</li>
                <li>how much you owe for other Budgeting Loans or Crisis Loans</li>
                <li>whether we can offer more than £100, as we cannot offer a loan for less than this</li>
              </ul>
              <p>The repayment amount is based on:
              <ul class="govuk-list govuk-list--bullet">
                <li>how much money you owe other people</li>
                <li>how much you could repay each week and for how long</li>
              </ul>
            </div>
          </details>

          <h2 class="govuk-heading-m">If you accept the loan</h2>

          <p>You will get the money within a week. We will pay it into the same account as your benefit.</p>

          <div class="govuk-inset-text">
            We have temporarily stopped taking Budgeting Loan repayments because of coronavirus (COVID-19).
          </div>

          <p>Once you start repaying this loan, you’ll pay back <strong>&pound;<span class="repayment-amount"></span> every week</strong>. We will take this automatically from your {{ data['benefit-received'] }}.</p>

          <h2 class="govuk-heading-m">If you need help</h2>

          <p><a href="/BLAS/master/review-rights">Contact the Social Fund</a> if you want to ask a question or think our decision is wrong. We cannot change the amount you’ve been asked to pay back.</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Do you want to accept the loan?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="loan-decision-1" name="partial-loan-decision" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="loan-decision-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="loan-decision-2" name="partial-loan-decision" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="loan-decision-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <br>

          <p>If you accept this loan, you agree that:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>you will pay back this money, even if you stop claiming benefits</li>
            <li>your benefits, or those of your partner, will be reduced to pay back the money</li>
          </ul>

          <button class="govuk-button" data-module="govuk-button">Send your decision</button>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
