{% extends "layout-response.html" %}

{% block pageTitle %}
  Sorry, there is a problem with the service – Budgeting Loans – GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

          <p>Try again later.</p>

          <p>Contact us if you need to speak to someone about your Budgeting Loan application.</p>

          <ul class="govuk-list">
            <li><strong>Social Fund</strong></li>
            <li>Telephone: 0800 169 0140</li>
            <li>Textphone: 0800 169 286</li>
            <li>Welsh language: 0800 169 0240</li>
            <li><a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 169 0140</li>
            <li><a class="govuk-link" href="https://dwpsocialfund.signvideo.net/">Video relay service </a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a>
            <li>Monday to Friday, 8am to 6pm</li>
            <li><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></li>
          </ul>

  </div>

{% endblock %}
