{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  SMS decision notification - approval - less than 320 characters
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-s">GOV.UK</h1>

      <hr>

      <p>Budgeting Loans: We can offer you a Budgeting Loan, {{ data['first-name'] }} {{ data['last-name'] }}. Check the details of the loan online and decide whether to accept it by <span class="new-date"></span>.<br>Your application reference is 71ACED3A.<br>Your security code is 211345443.<br>Please make a note of these codes and go to <a href="/BLAS/master/application-reference-code">https://www.apply-budgeting-loan.service.gov.uk/decision</a></p>

    </div>
  </div>

{% endblock %}
