{% set section = "create-account" %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  SMS service confirmation - loan accepted - fewer than 320 characters
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-s">GOV.UK</h1>

      <hr>

      <p>Budgeting Loans: You have accepted a Budgeting Loan of &pound;<span class="loan-amount">{{ data['loan-amount'] }}</span>, {{ data['first-name'] }}. You will get the money by <span class="payment-date"></span>.<br>We will write to you when you are due to start repaying this loan. You will then pay back &pound;<span class="repayment-amount"></span> every week from your benefit.<br>Contact us if you need help, Monday to Friday, 8am to 6pm. Telephone: 0800 169 0140. Welsh language: 0800 169 0240. NGT text relay (if you cannot hear or speak on the phone): 18001 then 0800 169 0140.</p>

    </div>
  </div>

{% endblock %}
