{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your application has been received</h1>
        <div class="govuk-panel__body">
          Your reference is your National Insurance number</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You'll get a decision by post within 20 working days (4 weeks).</p>

      <p>If you're offered a loan and you choose to accept it you must sign page 4 (the offer letter) as well as page 5 (the reply slip).</p>

      <p>You'll also be told:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how much you can borrow</li>
        <li>how much your weekly repayments will be</li>
        <li>how long it will take to repay</li>
      </ul>

      <div class="govuk-inset-text">
        <a href="https://www.gov.uk/budgeting-help-benefits/repayments">Budgeting Loan repayments</a> have been temporarily stopped because of coronavirus (COVID-19).
      </div>

      <p>You don't have to accept the loan offer if you don't want to.</p>

      <p><a href="https://www.gov.uk/done/budgeting-help-benefits">What did you think of this service?</a></p>

    </div>
  </div>

{% endblock %}
