{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your contact details - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/BLAS/v4/offer-review" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="offer-acceptance">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Paying back the loan
            </h1>
          </legend>
          <p>It has been decided, based on your current debt levels, that you will pay back <strong>£39.10</strong> per week from your Pension Credit.</p>

        </fieldset>
      
        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
