{% extends "layout.html" %}

{% block pageTitle %}
  Select your address - Budgeting Loans - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages will not be sent and no data is saved.'
  }) }}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v12/declaration" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Would you like letters about your application to be sent to a different address?
                </h1>
                <p class="govuk-!-margin-top-4">If you don't want letters sent to your registered benefit address you can enter another one</p>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes-extra-address" name="extra-address" type="radio" value="yes-extra-address">
                  <label class="govuk-label govuk-radios__label" for="yes-extra-address">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no-extra-address" name="extra-address" type="radio" value="no-extra-address">
                  <label class="govuk-label govuk-radios__label" for="no-extra-address">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <button class="govuk-button">Continue</button>

    </div>
  </div>

{% endblock %}
